@use "../../global" as global;
.p-404 {
    height: 765px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-404__content {
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    padding: 10px 10px;
    border-radius: 5px;
}