@use "../../global" as global;
// project - ArticleCard
// 投稿記事カード 基礎
//----------------------------------------
//  記事カード : 上画像・下文章版 : アスペクト16-9
//----------------------------------------
.p-acard {
    //  2列
    width: calc( 50% - 10px);
    //  3列
    //width: calc( 33.3% - 5px);
    height: 100%;
    padding: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid global.$color-card-border;
    background-color: global.$color-main-background;
    color: global.$color-font-light;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 20px 0 global.$color-card-shadow-dark;
    transition: 0.3s;
    &:hover {
        transform: translate(0px, -2px);
        box-shadow: 0 4px 20px 0 global.$color-card-shadow;
    }
    @include global.mq('sp') {
        width: calc( 100%);
    }
}

//  サイズ埋める空カード
.p-acard__space {
    //  2列
    width: calc( 50% - 10px);
    //  3列
    //width: calc( 33.3% - 5px);
    height: 100%;
    aspect-ratio: 16/9;
    padding: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    @include global.mq('sp') {
        display: none;
    }
}

//----------------------------------------
//  投稿記事カード パーツ
//----------------------------------------
.p-acard__image {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    img {
        width: 100%;
        max-width: 100%;
    }
}

.p-acard__content {
    width: calc(100% - 20px);
    height: auto;
    margin: 8px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //サイドと同じにする
    @include global.mq('sp') {
        margin: 8px auto;
    }
}

.p-acard__meta {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    justify-content: flex-end;
    display: block;
    @include global.mq('sp') {
        font-size: 12px;
    }
}

.p-acard__meta-tag {
    position: absolute;
    right: 0;
    background-color: global.$color-accent;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    // 104x36
    padding: 2px 8px;
    font-size: 14px;
    font-weight: normal;
    color: white;
    @include global.mq('sp') {
        padding: 3px 12px;
        font-size: 12px;
    }
}

.p-acard__meta-new {
    margin-left: 12px;
    font-size: 16px;
    font-weight: bold;
    color: global.$color-key-red;
    @include global.mq('sp') {
        margin-left: 8px;
        font-size: 14px;
    }
}

.p-acard__meta-date {
    color: global.$color-key-lightgray;
    text-align: right;
    i {
        margin-right: 8px;
    }
    @include global.mq('sp') {
        width: 50%;
    }
}

.p-acard__meta-modified-date {
    @extend .p-acard__meta-date;
    margin-left: 20px;
    @include global.mq('sp') {
        width: calc(50% - 20px);
    }
}

.p-acard__lead {
    margin-top: 0px;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    @include global.mq('sp-tab') {
        margin-top: 4px;
        line-height: 1.4em;
    }
    @include global.mq('sp') {
        font-size: 14px;
        height: 100%;
        overflow: visible;
    }
    @include global.mq('tab') {
        font-size: 16px;
    }
}

.p-acard__excerpt {
    margin-top: 8px;
    font-weight: normal;
    font-size: 14px;
    color: global.$color-key-gray;
    text-align: left;
    @include global.mq('sp') {
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.4em;
    }
}