/*--------------------------------------------------
//
//    テーマ独自で調整するもの
//
//
--------------------------------------------------*/

@use "../../global" as global;
@use "../component/c-button";
//------------------------------------------------
//  ボタン
//------------------------------------------------
.button__arrow-right {
    @extend .c-button__arrow-right;
    margin: 40px auto 0px auto;
    width: 315px;
    @include global.mq('sp') {
        margin: 40px auto 0px auto;
        width: 295px;
        height: 77px;
    }
}