@use "../../global" as global;
//----------------------------------------
//  記事アイテム カード版
//  ※失敗してる版
//----------------------------------------
.p-card {
    width: 100%;
    max-width: calc(50% - 16px);
    padding: 0px auto 0px auto;
    display: flex;
    background-color: rgba(250, 255, 243, 0.7); //rgba(0, 40, 20, 1);
    border: 1px solid rgba(144, 238, 144, 1);
    border-radius: 5px;
    transition: 0.3s;
    .p-pcard__lead {
        font-size: 18px;
    }
    .p-pcard__image {}
    .p-pcard__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        width: calc(100% - 170px);
        height: calc(100% - 20px);
    }
    .p-pcard__meta {
        display: block;
        text-align: right;
    }
    &:hover {
        transform: translate(0px, -2px);
        box-shadow: 0 4px 20px 0 rgba(40, 255, 40, 0.6);
    }
    @include global.mq('sp') {
        max-width: calc(100%);
        .p-pcard__lead {
            font-size: 14px;
        }
        .p-pcard__image {}
        .p-pcard__content {
            width: calc(100% - 120px);
            height: calc(100% - 20px);
        }
    }
}