@use "global" as global;
//----------------------------------------
//  front-page リンクボタングループ - グリッド版
//----------------------------------------
.p-gridlink__group {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    padding: 0px 40px 0px 40px;
    display: grid;
    @include global.mq('sp-tab') {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }
}

.l-gallery {
    display: grid;
    @include global.mq('tab-pc') {
        gap: clamp(8px, calc(8 / 1440 * 100vw), 20px);
        grid-template: "A B B C" 280px "A D D C" 280px / calc(295 / 1038 * 100%) calc(208 / 1038 * 100%) calc(167 / 1038 * 100%) calc(308 / 1038 * 100%);
    }
    @include global.mq('sp') {
        gap: 20px;
    }
}

@include global.mq('tab-pc') {
    [data-area="A"] {
        grid-area: A;
    }
    [data-area="B"] {
        grid-area: B;
    }
    [data-area="C"] {
        grid-area: C;
    }
    [data-area="D"] {
        grid-area: D;
    }
    [data-area="E"] {
        grid-area: E;
    }
    [data-type="2"] {
        .c-gallery-item__img-box {
            padding-top: 45%;
        }
    }
}

.p-gridlink__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 8px;
    padding: 40px;
    font-size: 32px;
    font-weight: bold;
    writing-mode: vertical-lr;
    color: white;
    text-orientation: upright;
    -webkit-text-stroke: 1px #000;
    text-shadow: #000 1px 0 10px;
    span {
        writing-mode: vertical-rl;
        text-align: right;
    }
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 5px;
    filter: grayscale(100%) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.6));
    @include global.mq('sp-tab') {}
    &:hover {
        opacity: 1.0;
        transform: translate( -2px, -2px);
        filter: grayscale(0%) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
        .p-gridlink__buttontext-main {
            //font-size: 31px;
            color: lightgreen;
        }
        .p-gridlink__buttontext-sub {
            //font-size: 31px;
            color: lightgreen;
        }
    }
    transition: 0.3s;
    cursor:pointer;
}

.p-gridlink__button-photo {
    @extend .p-gridlink__button;
    background-color: greenyellow;
    opacity: 0.8;
    background-image: url(../img/buttons/fp_btn_photo.jpg);
    background-position: center bottom;
}

.p-gridlink__button-stock {
    @extend .p-gridlink__button;
    background-color: purple;
    opacity: 0.8;
    background-image: url(../img/buttons/fp_btn_stock.jpg);
    background-position: left center;
}

.fp__topgridlink-button-note {
    @extend .p-gridlink__button;
    background-color: gray;
    opacity: 0.8;
    background-image: url(../img/buttons/fp_btn_note.jpg);
    background-position: left top;
}

.p-gridlink__button-other {
    @extend .p-gridlink__button;
    background-color: lightblue;
    opacity: 0.8;
    background-image: url(../img/buttons/fp_btn_other.jpg);
    background-position: left top;
}

.p-gridlink__buttontext-main {
    transition: 0.3s;
}

.p-gridlink__buttontext-sub {
    @extend .p-gridlink__buttontext-main;
    transition: 0.3s;
}

//----------------------------------------
//----------------------------------------