@use "../../global" as global;
$color-buttonbg: rgba(144, 238, 144, 0.5);
//----------------------------------------
//  記事のページ前後移動 ページネーション
//----------------------------------------
.p-post-pagination__area {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    @include global.mq('sp') {
        flex-direction: column;
        a {
            &:nth-child(n+2) {
                margin-top: 20px;
            }
        }
    }
}

.p-post-pagination__button {
    width: 100%;
    height: 100px;
    min-height: 100px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    border: 1px solid lightgray;
    text-align: left;
    background-color: transparent;
    color: gray;
    border-radius: 5px;
    &:hover {
        border: 1px solid $color-buttonbg;
        background-color: $color-buttonbg;
        a {
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
            transition: 0.3s;
            color: white;
        }
        .single__pagination-button-arrow {
            background-color: $color-buttonbg;
        }
        .single__pagination-button-title {
            color: white;
        }
        .single__pagination-button-lead {
            color: white;
        }
    }
    a {
        font-size: 14px;
    }
    @include global.mq('sp') {
        max-width: none;
    }
    //  記事がない場合の空ボタン
    &.none {
        opacity: 0;
    }
}

.p-post-pagination__button-prev {
    @extend .p-post-pagination__button;
    text-align: center;
}

.p-post-pagination__button-next {
    @extend .p-post-pagination__button;
    text-align: center;
}

.p-post-pagination__button-texts {
    width: calc(100% - 32px);
    height: 100%;
    margin: 0 16px;
}

.p-post-pagination__button-title {
    color: lightgray;
    width: 100%;
    margin-top: 8px;
    transition: 0.3s;
}

.p-post-pagination__button-lead {
    width: 100%;
    height: calc(100% - 28px);
    color: lightgray;
    display: flex;
    justify-content: center;
    text-align: left;
}

.p-post-pagination__button-arrow {
    height: 100%;
    display: flex;
    background-color: lightgray;
    color: black;
    align-items: center;
    padding: 0 8px;
    transition: 0.3s;
    padding-right: 4px;
    padding-left: 4px;
}