@use "../../global" as global;
//----------------------------------------
//  ページネーション
//----------------------------------------
.p-pagenation {
    margin-top: 12px;
    text-align: center;
    a {
        transition: all 0.3s ease 0s;
        &:hover {
            opacity: 0.6;
            background: global.$color-main-accent;
            border: 1px solid global.$color-card-background;
            color: global.$color-font-light;
        }
    }
}

//------------------------------------------------
//
//  ワードプレスpaginate_linksで生成されるもの
//
//------------------------------------------------
.page-numbers {
    display: inline-block;
    border: 1px solid global.$color-card-background;
    border-radius: 5px;
    color: global.$color-font-dark;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    height: 50px;
    line-height: 48px;
    min-width: 50px;
    text-align: center;
    text-decoration: none;
    //  現在のページ
    &.current {
        background: global.$color-main-accent;
        border: 1px solid global.$color-card-background;
        color: global.$color-font-light;
        font-weight: 700;
    }
    &.dots,
    &.next,
    &.prev {
        i {
            line-height: 45px;
            transform: translateY( 1px);
        }
    }
    &.next:hover,
    &.prev:hover {
        opacity: 0.6;
    }
    &:last-child {
        margin-right: 0;
    }
}