@use "../../global" as global;
//----------------------------------------
//  front-page トップ新着カテゴリ切り替え
//----------------------------------------
.p-tab__group {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include global.mq('sp') {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        .fp__topDisp-button {
            &:nth-child(n+2) {
                margin-top: 6px;
            }
        }
    }
}

.p-tab__button {
    width: 100%;
    padding: 8px;
    margin: 4px;
    margin-top: 0;
    //  記事一覧とサイドバーを左右に分ける
    background-color: white;
    border-radius: 5px;
    text-align: center;
    @include global.mq('sp') {
        width: calc(100% - 16px);
        max-width: 100%;
        justify-content: center;
    }
    &:hover {
        opacity: 1.0;
        transform: translate( -2px, -2px);
        filter: grayscale(0%) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
    }
    transition: 0.3s;
    cursor:pointer;
}