@use "../../global" as global;
//
.p-terms {
    max-width: 1000px;
    width: calc(100% - 20px);
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 40px;
}

.p-terms__inner {
    //  サイドバーと合わせる
    max-width: calc(1200px); //  左右並べる場合
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    @include global.mq('sp') {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.p-terms__article {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
    line-height: 1.7em;
}

.p-terms__lead {
    margin: 10px auto 20px 20px;
    p {
        margin: 16px 0;
    }
    ;
}

.p-terms__footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}