/*============================================================
#   色
#   
============================================================*/

//      complementary color / comp = 補色
//$color-background-fpposts: #f0fff4; //white;
//$color-newsbg: white; //white;
$color-background-post: white; //rgba(245, 255, 245, 1);
$color-background-main: #364a36;
//etienu note
$color-main-cv:rgba(255, 255, 0, 1);
$color-main-cv-hover:rgba(255, 255, 100, 1);
$color-main-accent:lightgreen;
$color-main-accent-comp:rgb(208, 144, 238);
$color-main-background:#7EAB71; //#3f783f;
$color-main-background-comp:rgb(155, 113, 171);
$color-main-background-mid:#5e7e5e;
$color-main-background-dark:#364a36;
$color-main-background-dark-comp:#4a364a;
$color-main-bg-hover:#8ec280; //#3f783f;
$color-post-background:white; //#f0fff4;
$color-card-background:#2A5B2B; //rgb(25 52 39);
$color-card-border:#619f4f; //#2A5B1B; //rgba(0, 80, 0, 1);
$color-card-shadow:rgba(100, 255, 100, 0.6); //rgba(40, 255, 40, 0.6);
$color-card-shadow-dark:rgba(71, 158, 71, 0.6);
$color-button-contact:yellow;

/*----------------------------------------
        サイトの色指定
----------------------------------------*/

//  文字色
$color-font:#1a1a1a;
$color-font-w:#FFFFFF;
$color-font-d:#555555; // disabled
$color-font-accent:lightgreen;
$color-font-light:$color-font-w;
$color-font-dark:$color-font;
//  キーカラー
$color-key-main:#163F74;
$color-key-main-dark:#002a52;
$color-key-main-thin:#EEF3F8;
$color-key-main-accent1:#FEF251;
$color-key-main-accent2:#D33365;
$color-key-gray:#888888;
$color-key-lightgray:#F3F3F3;
$color-key-black:#1a1a1a;
$color-key-white:#FFFFFF;
$color-key-yellow:#FFF400;
$color-key-blue:#023E78;
//$color-key-red:#D33365;
$color-key-red:#E61264;
$color-sub:#fff;
$color-background:#fff;
$color-nav--pagetop-button:#3f98ef;
$color-accent-dark: rgb(19, 88, 19); // darkgreen
$color-accent:lightgreen;
//------------------------------------------------
//      DLP
//------------------------------------------------
$dlp__col-base:#2F2F2F;
$dlp__col-main:#F2F2F2;
$dlp__col-accent:#159741;
$dlp__col-font-b:#333;
$dlp__col-font-w:#FFF;