//----------------------------------------------------
//  フォント
//----------------------------------------------------
$font-roboto: 'Roboto',
sans-serif;
$font-title: $font-roboto;
$font-lead: $font-roboto;

/*
・variable - fontfamily
・mixin - fontset
・utility - u-font
この三つまとめた方がいいかもしれない

1.フォントの読み込み

2.変数にフォント名設定して、カスタム指定できるようにする

3.mixinでフォント名とweight、サイズなどのセット指定

4.u-fontはどうしてもHTMLでフォント指定したい場合使う想定だが
その内容はmixin includeでいい筈
大体の場合タイトルやサブタイトル、ナンバーで使うフォントは決まっている。
いちいち毎回外から指定するより、classでmixinをincludeする
modifierを作ったほうがいい筈だ。
またextendもあくまで同クラス内程度にとどめたい

*/