@use "../global" as global;
//--------------------------------
//    about
//--------------------------------
.l-about {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.l-about__background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero/frontpage_about.jpg);
    opacity: 1;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.l-about__fadewrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 1;
    padding: 200px 0;
    $bgcol: white;
    background: linear-gradient( to right, transparent 0%, $bgcol 10%, $bgcol 90%, transparent 100%);
}

.l-about__inner {
    position: relative;
    width: calc( 100% - 20%);
    max-width: 640px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    $bgcol: white;
    background: $bgcol;
    overflow: hidden;
}

.l-about__lead {
    font-size: clamp( 14px, 2vw, 20px);
    font-weight: 400;
    max-width: 480px;
    text-align: left;
    width: fit-content;
    display: block;
    b {
        font-weight: 400;
    }
}

.l-about__SNSwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

//--------------------------------
//  レスポンシブ
//--------------------------------
@include global.mq('sp-tab2') {
    .l-about__inner {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@include global.mq('sp') {
    .l-about__fadewrapper {
        $bgcol: white;
        background: $bgcol;
    }
    .l-about__inner {
        width: calc( 100% - 24px);
    }
    //  iphoneで強くスクロールすると後ろが見える為消す
    .l-about__background {
        display: none;
    }
    .l-about__SNSwrapper {
        .c-icon {
            &.s60 {
                font-size: 48px;
                width: 80px;
            }
        }
    }
    //--------------------------------
    //  機種別
    //--------------------------------
    .iPhone {
        .l-about__lead {
            max-width: 320px;
            //border: 1px solid red;
        }
    }
    .Macintosh {
        .l-about__lead {
            max-width: 320px;
            // border: 1px solid yellow;
        }
    }
}