@use "../global" as global;
//--------------------------------
//  GoogleReCaptcha消す
.grecaptcha-badge {
    visibility: hidden;
}

//--------------------------------
//    contact
//--------------------------------
.l-contact {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.l-contact__background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../images/contact/contact.jpg);
    opacity: 1;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter:brightness(0.3) sepia(1);
    //  初期状態を非表示にし、jｓでY位置によって表示させる
    display:none;
    &.disp{
        display: block;
    }
    video{
        bottom : 0;
    }
}

.l-contact__topspace {
    width: 100%;
    height: 40px;
    //  デフォルト
    background-color : white;
    &[data-color="white"]{
        background-color : white;
    }
    &[data-color="green"]{
        background-color : global.$color-main-background;
    }
}
.l-contact__inner {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    //padding-top : 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    $bgcoll: global.$color-main-background;
    $bgcol: transparent;
    background: linear-gradient( to bottom, $bgcoll 0%, $bgcoll 98%, $bgcol 100%, transparent 100%);
    //background-color: $bgcoll;

    form {
        max-width: 800px;
        width: 100%;
    }
}

//  コンバージョンボタン
.l-contact__cvwrapper {
    margin-top : 160px;
    width: calc(100% - 40px );
}

//  レスポンシブ
@include global.mq('sp-tab2') {
    .l-contact__inner {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@include global.mq('sp') {
    .l-contact__inner {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .c-lead__hard {
                margin-left: 20px;
                margin-right: 20px;
                max-width: 480px;
                text-align: left;
            }
            .p-contact__form-items {
                width: 100%;
            }
            .p-contact__form-footer {
                margin: 0 20px;
            }
        }
    }
}