@use "../global" as global;

/*--------------------------------------------------
    フッター
--------------------------------------------------*/

.l-footer {
    position: relative;
    color: global.$color-font-w;
    padding: 24px 0;
    @include global.mq('sp') {
        width: 100%;
    }
}

.l-footer__inner {
    display: flex;
    justify-content: center;
    margin: auto;
    @include global.mq('pc') {
        width: 100%;
        max-width: 1200px;
    }
    @include global.mq('sp') {
        width: 100%;
        flex-wrap: wrap;
    }
}

.l-footer__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include global.mq('sp') {
        flex-direction: column;
        .l-footer__item {
            &:nth-child(n+2) {
                margin-top: 20px;
            }
        }
    }
}

.l-footer__item {
    font-size: 14px;
    margin: 0 20px;
    a {
        transition: 0.3s;
        text-decoration: underline;
        &:hover {
            opacity: 0.7;
        }
    }
}

.l-footer__copyright {
    color: global.$color-font;
    font-weight: bold;
    @extend .l-footer__item;
}

.l-footer__terms {
    @extend .l-footer__item;
}

.l-footer__privacy-policy {
    @extend .l-footer__item;
}

.l-footer__contact {
    @extend .l-footer__item;
}