//--------------------------------------------------
//
//    メイン部分
//    
//    ヘッダーとフッターの間
//
//--------------------------------------------------
@use "../global" as global;
.l-main {
    width: 100%;
}

.l-main__inner {
    width: 100%;
    max-width: 1280px;
    min-height: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    @include global.mq('sp-tab2') {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
    }
}

//  中央1280以下の幅調整
.l-main__bargroup {
    width: calc(100% - 20px);
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include global.mq('sp-tab2') {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
    }
}

.l-mainbar {
    width: 100%;
    // 72.73%指定だと記事内のプラグイン要因で勝手に幅が伸び縮みしている為、数値指定
    max-width: min(global.$layout-mainbar-width, 850px);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 40px;
    //
    border-top: none;
    @include global.mq('sp-tab2') {
        max-width: 100%;
    }
}